<h1>{{todo.title}}</h1>

<strong>Comments</strong><br>
<ul id="commentList">
<li ng-repeat="comment in commentList">
<label>{{comment.body}} </label>
</li>
</ul>
<h1>Add Comment</h1>
<form id="comment-form" ng-submit="addComment(todo.id)">
  <input id="new-comment" placeholder="Add Comment" ng-model="newComment" ng-disabled="saving" autofocus>
</form>
