<h1>New Article</h1>
<table>
  <tr>
    <td><label>Title</label></td>
    <td><input type="text"></input></td>
  </tr>

  <tr>
    <td><label>Text</label></td>
    <td><textarea rows="3" cols="15" ></textarea></td>
  </tr>
</table>
